@charset "UTF-8";

body {
    background-color: rgb(4, 5, 11);
}
header {
    margin: 0px;
    border-bottom: 2px solid white;
    padding: 3px;
}
header > div {
    display: inline-block;
}
header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 33px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 50px;
}

p {
    color: white;
}

hr {
    color: white;
    width: 100%;
}
main {
    background-color: white;
    margin: auto;
    padding: 10px;
}
table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 5px;
}
footer {
    background-color: rgb(255, 255, 255);
    color: #0FA0DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    font-weight: bold;
    margin: 10px -8px 0px -8px;
}
footer > h1 {
    text-align: center;
}
.bem {
    display: block;
    margin: 10px auto auto auto; 
}

