@charset "UTF-8";

body {
    background-color: rgb(4, 5, 11);
}
header {
    margin: 0px;
    border-bottom: 2px solid white;
    padding: 3px;
}
header > div {
    display: inline-block;
}
header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 50px;
}

.hprinc {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: darkred;
    font-weight: bold;
}

p {
    color: white;
}

hr {
    color: white;
    width: 100%;
}
main {
    background-color: white;
    margin: auto;
    padding: 10px;
}
main#mdeptos {
    margin: 1% 25% 0% 25%;
}
main#mgabi {
    margin: 5% 25% -10% 25%;
}
table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 5px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #0FA0DC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px -8px 0px -8px;
    position: relative;
    bottom: -38px;
}
footer > h1 {
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.bem {
    display: block;
    border: 1px solid black;
    margin: 10px auto auto auto; 
}
footer#fdepartamentos {
    background-color: rgb(255, 255, 255);
    color: #0FA0DC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px -8px 0px -8px;
    position: relative;
    bottom: -10px;
}
footer#fgabi {
    position: relative;
    bottom: -167px;
}
.malmox {
    margin: 20px 25% 0px 25%;
}
.falmox {
    position: relative;
    bottom: -430px;
}
.aalmox {
    color: white;
}