@charset "UTF-8";

body {
    background-color: rgb(4, 5, 11);
}

h1 {
    color: white;
}

p {
    color: white;
}

hr {
    color: white;
    width: 100%;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    color: white;
    border: 1px solid white;
}

